BASE_URL=https://opensource-demo.orangehrmlive.com
HEADLESS=true
LOGIN_PATH=/web/index.php/auth/login
LOGIN_USERNAME=Admin
LOGIN_PASSWORD=admin123
API_BASE_URL=https://opensource-demo.orangehrmlive.com/web/index.php
